/* body{
    background: #282537;
 background-image: -webkit-radial-gradient(top, circle cover, #3c3b52 0%, #252233 80%);
 background-image: -moz-radial-gradient(top, circle cover, #3c3b52 0%, #252233 80%);
 background-image: -o-radial-gradient(top, circle cover, #3c3b52 0%, #252233 80%);
 background-image: radial-gradient(top, circle cover, #3c3b52 0%, #252233 80%);
} */
.home{
    background-color: white;
    border-radius: 5px;
    width: 350px;
    margin: 40px auto;
    padding: 20px;
    /* height: 600px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content:center;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: small;
    background-color: white;
    padding: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 40px ;
    border-radius: 5px;
}
button[type="button"]{
    padding:10px 20px;
    font-size:large;
    background: #01d28e;
    border-radius: 5px;
    border: 1px solid #01d28e;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
}